:host {
  .download-container {
    display: flex;
    justify-content: center;

    .card {
      margin-top: 2rem;
      text-align: center;

      .inputs {
        display: flex;
        margin-bottom: 1rem;
      }

      input {
        width: 300px;
        height: 30px;
        font-size: 1rem;
        text-align: center;
        margin-right: 1rem;
      }

      button {
        font-size: 1rem;
      }

      span {
        color: #ffffff;
      }
    }
  }
}
