<div class="download-container">
  <div class="card">
    <div class="inputs">
      <input type="text" [(ngModel)]="linkToVideo" (keyup.enter)="downloadVideo()" placeholder="Paste link to the video here">
      <button mat-flat-button color="primary" (click)="downloadVideo()">Download</button>
    </div>
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
    <span *ngIf="isLoading">It may take several minutes. Working....</span>
  </div>
</div>
