<div class="list-results">
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  <mat-card *ngFor="let item of listOfResult">
    <mat-card-content>
      <div class="img-container">
        <img [src]="item.img" alt="video image">
      </div>
      <div class="r-column">
        <mat-card-title class="title"><a [href]="item.url" target="_blank">{{item.title}}</a></mat-card-title>
        <mat-card-subtitle class="channel">{{item.channel}}</mat-card-subtitle>
        <mat-card-subtitle class="time">{{item.updatedAt | date:"dd.MM.yyyy HH:mm:ss"}}</mat-card-subtitle>
      </div>
    </mat-card-content>
  </mat-card>
</div>
