:host {

  .list-results {
    width: 95%;
    margin: 10px auto;
  }

  mat-card-content {
    display: flex;
  }

  .r-column {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}
